{% extends 'base.html' %}

{% block content %}

    <h1>Register</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- username -->
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
            <span style="color: red;"> [{{ error }}] </span>
            {% endfor %}
        </p>
        <!-- Email address -->
        <p>
            {{ form.email.label }} <br>
            {{ form.email(size=32) }} <br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!-- Password field -->
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!-- Confirmation password field  -->
        <p>
            {{ form.password2.label }} <br>
            {{ form.password2(size=32) }} <br>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!-- submission -->
        <p>
            {{ form.submit() }}
        </p>

    </form>

{% endblock %}
